<!--Let's create our header.-->
<header>
    <div class="container">
        <a routerLink="/" class="logo">apptittle</a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <li><a routerLink="/calculator">Calculator</a></li>
            </ul>
        </nav>
    </div>
</header>







<!--From:-->
<!--a routerLink="/">myapp</a-->

<!--To:-->
<!--a routerLink="/">{{appTitle}}</a-->